### Bower ###
bower_components

### Vagrant stuff ###
.vagrant
acceptance_config.yml
vagrant-spec.config.rb

### OSX ###
.AppleDouble
.DS_Store
.LSOverride

### Icon must end with two \r ###
Icon

### Thumbnails ###
._*

### Files that might appear on external disk ###
.Spotlight-V100
.Trashes

### Directories potentially created on remote AFP share ###
.apdisk
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

### Videos ###
*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm

### Audio ###
*.wav
*.mp3
*.wma

*.css.map
*.log
*.sql
*.zip
.phpintel
.sass-cache
.tmp
advanced-cache.php
cache
db.php
dist
node_modules
npm-debug.log
object-cache.php
.vscode
.idea
